---
import Presentation from "../components/Presentation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Symphon.ia">
	<main>
		<div id="background"></div>
		<Presentation />
	</main>
</Layout>

<script>
	const $body = document.querySelector("body");
	const symbols = ["♪", "♫", "♬", "🤖"];

	function createSymbol() {
		const symbol = document.createElement("div");
		symbol.className = Math.random() < 0.5 ? "note" : "robot";
		symbol.innerText = symbols[Math.floor(Math.random() * symbols.length)];
		symbol.style.left = Math.random() * 100 + "vw";
		symbol.style.animationDuration = 3 + Math.random() * 5 + "s";
		$body.appendChild(symbol);

		// Eliminar el símbolo después de la animación
		symbol.addEventListener("animationend", () => {
			symbol.remove();
		});
	}

	setInterval(createSymbol, 300); // Ajusta la frecuencia de creación
</script>

<style>
	main {
		border: 1px solid red;
	}
	h1 {
		color: var(--celeste);
	}

	.note,
	.robot {
		position: absolute;
		top: -50px; /* Empieza fuera de la vista */
		font-size: 2rem;
		color: #fff;
		animation: fall infinite linear;
	}

	#background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: -1;
	}

	@keyframes fall {
		to {
			transform: translateY(
				100vh
			); /* Mover hacia abajo hasta el final de la vista */
		}
	}
</style>
