---
import Presentation from "../components/Presentation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Symphon.ia">
	<main>
		<div id="background"></div>
		<Presentation />
	</main>
</Layout>

<style>
	main {
		border: 1px solid red;
	}
	h1 {
		color: var(--celeste);
	}

	
</style>
