---
import { FormMusic } from "../components/FormMusicReact/FormMusic.jsx";
import Presentation from "../components/Presentation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Symphon.ia">
	<main>
		<Presentation />
		<FormMusic client:visible/>
	</main>
</Layout>

<style>
	h1 {
		color: var(--celeste);
	}

	main{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		
	}

	
</style>
