---
import { FormMusic } from "../components/FormMusicReact/FormMusic.jsx";
import Presentation from "../components/Presentation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Symphon.ia">
	<main>
		<div id="background"></div>
		<Presentation />
		<FormMusic client:visible/>
	</main>
</Layout>

<style>
	main {
		
	}
	h1 {
		color: var(--celeste);
	}

	
</style>
