<header>
    <nav>
        <ul>
            <h2>Symphon.ia</h2>
            <span>
                Powered by <a href="https://sdk.vercel.ai/" target="_blank">Vercel AI SDK</a>
            </span>
        </ul>
    </nav>
</header>

<style>
    h2{
        display: inline;
    }
    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #000000bf;
        position: fixed;
        z-index: 2;
        width: 100%;
        left: 0;
        top: 0;
        box-shadow: 0px 0px 10px 0px #020024;
        color: var(--celeste);
    }

    nav{
        width: 100%;
    }

    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0px 100px;
        margin: 0px 0px;
    }

    a{
        color: var(--savoy-blue);
        text-decoration: none;
    }
</style>
