<section>
    <div class="description"> 
        <h1>Symphon.ia</h1>
        <p>
            Your ultimate tool for creating <strong
                >unique melodies and rhythms with artificial intelligence</strong
            >. Developed for the Vercel Hackathon 2024, this platform empowers
            you to generate innovative and personalized music in seconds.
            Discover the future of music creation with Symphon.ia.
        </p>
        <button>Get Started</button>
    </div>
    <div>
        Aqui irian videos de gente tocando instrumentos y asi xd
    </div>
</section>

<style>
    h1{
        font-size: 5rem;
        margin-bottom: 20px;
    }center
    p{
        font-size: 1.5rem;
        color: var(--khaki);
        margin-top: 0;
    }
    section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: var(--celeste);
        width: 1000px;
        height: 100vh;
    }

    .description{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
</style>
