---
import ClaveSol from "./icons/ClaveSol.astro";
import Videos from "./Videos.astro";
import VercelSDK from "./icons/VercelSDK.astro";
---

<section>
    <div class="description">
        <ClaveSol fill="#020024" /><h1>
            ymphon.<strong class="ia-text">ia</strong>
        </h1>

        <p>
            Your ultimate tool for creating <strong
                >unique melodies and rhythms with artificial intelligence</strong
            >. Developed for the Vercel Hackathon 2024.
        </p>
        <button>Get Started</button>
    </div>

    <div class="videos">
        <Videos />
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: var(--celeste);
        width: 1000px;
        height: 95vh;
    }

    .videos {
        padding-left: 1rem;
    }

    .description {
        display: grid;
        grid-template-areas:
            "note ."
            "note title"
            "note text"
            "button button";

        grid-template-columns: 0.35fr 2fr;
        grid-template-rows: 0.2fr 0.5fr 0.25fr 0.25fr;
    }

    .ia-text {
        color: #4c368d;
        padding: 0;
        margin: 0;
    }

    


    h1 {
        font-size: 5rem;
        grid-area: title;
        margin-bottom: 0;
    }

    p {
        font-size: 1rem;
        width: 70%;
        color: var(--khaki);
        margin-top: 0;
        grid-area: text;
    }

    button {
        background-color: #222222;
        color: var(--celeste);
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
        grid-area: button;
        grid-column: 1 / 2;
        border: none;
    }

    button:hover {
        background-color: var(--celeste);
        color: var(--black);
        transform: scale(1.1);
        transition: all 0.5s;
    }
</style>
