<section>
    <div class="container">
        <video muted autoplay="autoplay" loop>
            <source
                src="https://media.istockphoto.com/id/1226196573/es/v%C3%ADdeo/productor-ingeniero-de-audio-utiliza-el-escritorio-de-control-para-la-grabaci%C3%B3n-de-nueva.mp4?s=mp4-640x640-is&k=20&c=zWhgv4ZtH_fQQH-CHNp5D2mRgRo6N8EuChZm_qSlpq8="
                type="video/mp4"
            />
        </video>
        <video muted autoplay="autoplay" loop>
            <source
                src="https://videos.pexels.com/video-files/4699296/4699296-hd_1920_1080_30fps.mp4"
                type="video/mp4"
            />
        </video>
        <video muted autoplay="autoplay" loop>
            <source
                src="https://cdn.pixabay.com/video/2016/04/03/2662-161442863_large.mp4"
                type="video/mp4"
            />
        </video>
        <video muted autoplay="autoplay" loop>
            <source
                src="https://videos.pexels.com/video-files/5657831/5657831-uhd_2732_1440_25fps.mp4"
                type="video/mp4"
            />
        </video>
    </div>
</section>

<style>
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        opacity: 0.4;
        z-index: -1;
    }

    .container video {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }

    .container video:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .container video:nth-child(3) {
        grid-column-start: -4;
        grid-column-end: -3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .container video:nth-child(4) {
        grid-column-start: -3;
        grid-column-end: -1;
        grid-row-start: 2;
        grid-row-end: 3;
    }
</style>
