    .sectionFormMusic {
        margin-top: 100px;
        width: 1000px;
        color: var(--celeste);
        position: relative;
    }

    .sectionFormMusic h1 {
        font-size: 2rem;
        text-align: center;
    }

    .sectionFormMusic form {
        width: 25rem;
        height: 10rem;
        box-shadow: 0 0 1rem 0 #00000033;
        border-radius: 5px;
        background-color: #6369d115;
        backdrop-filter: blur(5px);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 30px;
        padding: 10px 30px;
        gap: 20px;
        place-content: center;
    }

    .sectionFormMusic label {
        font-size: 1rem;
        margin-bottom: 0px;
        height: fit-content;
        margin-top: 20px;
    }

    .sectionFormMusic button {
        background-color: #2b3c55;
        color: var(--celeste);
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        width: 150px;
        justify-self: center;
        margin-top: 20px;
        font-family: 'Pixelify Sans Variable', system-ui;
        height: 40px;
    }

    .sectionFormMusic input {
        background-color: transparent;
        border-width: 0px 0px 1px 0px;
        width: 80%;
        color: var(--celeste);
        font-family: 'Pixelify Sans Variable', system-ui;
    }

    .sectionFormMusic input:focus {
        outline: none;
    }

    .lines {
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        height: 100%;
        width: 20vw;
    }

    .line {
        position: absolute;
        width: 7px;
        height: 90%;
        top: 100px;
        left: 50%;
        background: #ffffff1a;
        overflow: hidden;
    }

    .line::after {
        content: "";
        display: block;
        position: absolute;
        height: 15vh;
        width: 100%;
        top: -50%;
        left: 0;
        background: linear-gradient(to bottom,
                #ffffff00 0%,
                #ffffff 75%,
                #ffffff 100%);
        animation: drop 7s 0s infinite;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    }

    .line:nth-child(1) {
        margin-left: -25%;
    }

    .line:nth-child(1)::after {
        animation-delay: 2s;
    }

    .line:nth-child(3) {
        margin-left: 25%;
    }

    .line:nth-child(3)::after {
        animation-delay: 2.5s;
    }

    .line:nth-child(5) {
        margin-left: 50%;
    }

    .line:nth-child(5)::after {
        animation-delay: 3s;
    }

    .line:nth-child(2) {
        margin-left: -50%;
    }

    .line:nth-child(2)::after {
        animation-delay: 3.5s;
    }

    .line:nth-child(4) {
        margin-left: 75%;
    }

    .line:nth-child(4)::after {
        animation-delay: 4s;
    }

    .music {
        margin-top: 40px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .musicPlayer {
        width: 200px;
        height: 100px;
    }

    .loader {
        width: 45px;
        aspect-ratio: 1;
        --c: no-repeat linear-gradient(#fff 0 0);
        background:
            var(--c) 0% 50%,
            var(--c) 50% 50%,
            var(--c) 100% 50%;
        background-size: 20% 100%;
        animation: l1 1s infinite linear;
    }

    @keyframes l1 {
        0% {
            background-size: 20% 100%, 20% 100%, 20% 100%
        }

        33% {
            background-size: 20% 10%, 20% 100%, 20% 100%
        }

        50% {
            background-size: 20% 100%, 20% 10%, 20% 100%
        }

        66% {
            background-size: 20% 100%, 20% 100%, 20% 10%
        }

        100% {
            background-size: 20% 100%, 20% 100%, 20% 100%
        }
    }

    @keyframes drop {
        0% {
            top: -50%;
        }

        100% {
            top: 110%;
        }
    }

    @media (max-width: 1040px) {
        .sectionFormMusic {
            width: 100%;
        }
    }

    @media (max-width: 1200px) {
        .lines {
            display: none;
        }
    }

    @media (max-width: 880px) {
        .description {
            width: 100%;
        }
    }

    @media (max-width: 523px) {
        .lines {
            display: none;
        }
    }